html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	color: #2A4A5C;
	font-weight: 400;
	font-family: BARLOW;
	background-color: #EFF6FF;
}

.container {
	display: flex;
	margin: 6em 5em;
	background-color: #FFF;
}

.container__logo {
	width: 58%;
	background-repeat: no-repeat;
	background-image: url(../img/bg.jpg);
}

.logo {
	width: 130px;
	margin: 3em 0 0 3em;
}

.container__main {
	width: 52%;
}

.container__main-title {
	margin: 6em 0 0 5em;
}

.container__main-title h1 {
	font-size: 1.7rem;
	font-weight: 500;
}

.container__main-title p {
	color: #7B8A92;
	font-size: 1.1rem;
	font-weight: 400;
}

.container__main-btn {
	margin: 4em 0 3em 5em;
}

.facebook {
	color: #fff;
	height: 3em;
	width: 17.5em;
	margin-right: 2.5em;
	background-color: #255A9B;
	background-repeat: no-repeat;
	background-image: url(../img/facebook.svg);
}

.linkedin {
	color: #fff;
	height: 3em;
	width: 17.5em;
	margin-right: 2.5em;
	background-size: 16%;
	background-color: #0076B6;
	background-repeat: no-repeat;
	background-image: url(../img/linkedin.svg);
}

.main__form fieldset {
	border: none;
}

.main__form legend {
	margin: 0 auto;
	font-weight: 500;
	font-size: 0.65rem;
}

.main__form-dataEntry {
	display: flex;
}

.email {
	width: 18em;
	height: 4em;
	margin: 3em 1.5em 2.4em 4em;
}

.phone {
	width: 18em;
	height: 4em;
	margin: 3em 0 2.4em 1.5em;
}

.main__form-investType-title {
	margin: 0 0 3em 3.4em;
}

.main__form-investType-title h2 {
	font-weight: 500;
	font-size: 1.3rem;
	padding-bottom: 0;
	margin-bottom: 0;
}

.main__form-investType-title p {
	color: #7B8A92;
	font-size: 0.85rem;
}

.main__form-investType-radio {
	margin: 0 0 2.3em 3.4em;
}

.investor {
	font-weight: 500;
	font-size: 0.9rem;
	padding-right: 4em;
}
